{{#each listItems as |entity|}}
<li class="entity flexrow draggable r_{{entity.rarity}}" 
    data-entry-compendium="{{entity.compendium}}"
    data-entry-id="{{entity._id}}"
    data-entry-name="{{entity.name}}"
    data-entry-image="{{entity.img}}"
    >

    <figure class="entity-image" data-action="openSheet">
        <img src="icons/svg/daze.svg" data-src="{{entity.img}}" title="{{entity.name}}"/>
    </figure>

    <div class="entity-name" data-action="openSheet">
        <span class="entity-edit"><a title="({{entity.compendium}})">{{entity.name}}</a></span>
    </div>

        <ul class="tags entity-tags">
            <li title="Compmendium: {{entity.compendium}}"><i class="fas fa-book" ></i></li>
            {{#if entity.type}}
                <li title="Type: {{entity.type}}">
                    {{#switch entity.type}} 
                        {{#case 'backpack'}}<i class="fas fa-boxes"></i>{{/case}}
                        {{#case 'consumable'}}<i class="fas fa-cookie-bite"></i>{{/case}}
                        {{#case 'equipment'}}<i class="fas fa-tshirt"></i>{{/case}} 
                        {{#case 'tool'}}<i class="fas fa-tools"></i>{{/case}}       
                        {{#case 'loot'}}<i class="fas fa-gem"></i>{{/case}} 
                        {{#case 'weapon'}}<i class="fas fa-crosshairs"></i>{{/case}}                         
                        {{#default ''}}{{entity.type}}{{/default}} 
                    {{/switch}}        
                </li>
            {{/if}}
            {{#if entity.dae}}<li title="has DAE effects" data-tag-dae="true"><i class="fab fa-acquisitions-incorporated"></i></li>{{/if}}
            {{#if entity.ac}}<li title="AC: {{entity.ac}}" data-tag-dae="true"><i class="fas fa-shield-alt">{{entity.ac}}</i></li>{{/if}}

            {{#each entity.tags as |value name|}}
                <li class="filtered" data-tag-type="{{name}}" data-tag-value="{{value}}">
                    {{#ifCond name "==" "range"}}<i class="fas fa-ruler"></i>{{value}}{{/ifCond}}
                </li>            
            {{/each}}
        </ul>
        {{#if entity.classRequirement}}
            <ul class="tags misc-tags">            
                {{#each entity.classRequirement as | class |}}
                    <li title="Class Requirement: {{class}}">{{class}}</li>
                {{/each}}                
            </ul>
        {{/if}}
        {{#ifCond entity.type '==' 'spell'}}
        <ul class="tags spell-tags">
            <li title="Spell level">{{#if entity.data.level}}{{entity.data.level}}{{else}}C{{/if}}</li>
            <li {{#unless entity.data.components.ritual}}style="color:#bbb;" title="{{localize "No"}} {{localize "CMPBrowser.ritual"}}"{{else}} title="{{localize "CMPBrowser.ritual"}}"{{/unless}}>R</li>
            <li {{#unless entity.data.components.concentration}}style="color:#bbb;" title="{{localize "No"}} {{localize "CMPBrowser.concentration"}}"{{else}} title="{{localize "CMPBrowser.concentration"}}"{{/unless}}>C</li>
            <li {{#unless entity.data.components.vocal}}style="color:#bbb;" title="{{localize "No"}} {{localize "CMPBrowser.verbal"}}"{{else}} title="{{localize "CMPBrowser.verbal"}}"{{/unless}}>V</li>
            <li {{#unless entity.data.components.somatic}}style="color:#bbb;" title="{{localize "No"}} {{localize "CMPBrowser.somatic"}}"{{else}} title="{{localize "CMPBrowser.somatic"}}"{{/unless}}>S</li>
            <li {{#unless entity.data.components.material}}style="color:#bbb;" title="no{{localize "No"}} {{localize "CMPBrowser.material"}}"{{else}} title="{{localize "CMPBrowser.material"}}"{{/unless}}>M</li>
        </ul>
        {{/ifCond}}
        <input type="hidden" name="type" value="{{entity.type}}">
</li>
{{/each}}
