<div class="parent">
    <div class="tabs">
        {{#if showSpellBrowser}}<a class="item" data-tab="spell" title="{{localize 'CMPBrowser.Tab.SpellBrowser'}}">🧚</a>{{/if}}
        {{#if showFeatBrowser}}<a class="item" data-tab="feat">{{localize "CMPBrowser.Tab.FeatBrowser"}}</a>{{/if}}
        {{#if showItemBrowser}}<a class="item" data-tab="item" title="{{localize 'CMPBrowser.Tab.ItemBrowser'}}">🔮</a>{{/if}}
        {{#if showNpcBrowser}}<a class="item" data-tab="npc" title="{{localize 'CMPBrowser.Tab.NPCBrowser'}}">👥</a>{{/if}}
        {{#if isGM}}<a class="item" data-tab="setting" title="{{localize 'CMPBrowser.Tab.Settings'}}">⚙️</a>{{/if}}
    </div>
    <aside class="actions">
        <nav>
            <ul>
                <li><button data-action="export" data-action-target="table"><i class="fas fa-th-list"></i>Export</button></li>
                <li id="CBInfoMessage"></li>
            </ul>
        </nav>
    </aside>
    <div class="content">
            <div class="tab" data-tab="spell">{{#if showSpellBrowser}}{{> "modules/compendium-browser/template/entity-browser.html"}}{{/if}}</div>
            <div class="tab" data-tab="feat">{{#if showFeatBrowser}}{{> "modules/compendium-browser/template/entity-browser.html"}}{{/if}}</div>
            <div class="tab" data-tab="item">{{#if showItemBrowser}}{{> "modules/compendium-browser/template/entity-browser.html"}}{{/if}}</div>
            <div class="tab" data-tab="npc">{{#if showNpcBrowser}}  {{> "modules/compendium-browser/template/entity-browser.html"}}{{/if}}</div>
            {{#if isGM}}
                <div class="tab" data-tab="setting">{{> "modules/compendium-browser/template/settings.html"}}</div>
            {{/if}}
    </div>
</div>