.system-dnd5e.tidy5eDark {
  --primary-font: rgba(255, 255, 255, 0.8);
  --background: #1e1e1e;
  --white: #000000;
  --primary-color: rgba(255, 255, 255, 0.8);
  --secondary-color: rgba(255, 255, 255, 0.65);
  --tertiary-color: rgba(255, 255, 255, 0.4);
  --light-color: rgba(255, 255, 255, 0.25);
  --faint-color: rgba(255, 255, 255, 0.1);
  --faintest-color: rgba(255, 255, 255, 0.05);
  --ability-accent: darkslategrey;
  --header-background: rgba(255, 255, 255, 0.05);
  --header-border: rgba(255, 255, 255, 0.25);
  --primary-accent: #ff6400;
  --prepared: rgba(0, 250, 180, 0.3);
  --always-prepared: rgba(0, 100, 255, 0.3);
  --icon-background: #1e1e1e;
  --icon-shadow: rgba(0, 0, 0, 0.4);
  --icon-outline: rgba(0, 0, 0, 0.4);
  --icon-font: rgba(255, 255, 255, 0.4);
  --icon-hover: rgba(255, 255, 255, 0.8);
  --warning-accent: rgba(255, 30, 0, 0.65);
  --check-default: url(../images/check-dark-unchecked.svg);
  --check-checked: url(../images/check-light-checked.svg);
  --checkbox-font: rgba(255, 255, 255, 0.8);
  --checkbox-outline: #323232;
  --checkbox-unchecked: #4b4b4b;
  --checkbox-checked: rgba(0, 255, 0, 0.5);
}
