.system-dnd5e {
  --modesto: "Modesto Condensed", "Palatino Linotype", serif;
  --signika: "Signika", sans-serif;
  --primary-font: rgba(0, 0, 0, 0.9);
  --background: #ece9df;
  --faintest-color: rgba(0, 0, 0, 0.05);
  --faint-color: rgba(0, 0, 0, 0.1);
  --light-color: rgba(0, 0, 0, 0.25);
  --primary-color: rgba(0, 0, 0, 0.9);
  --secondary-color: rgba(0, 0, 0, 0.65);
  --tertiary-color: rgba(0, 0, 0, 0.4);
  --primary-accent: #ff6400;
  --white: #ffffff;
  --faint-white: rgba(255, 255, 255, 0.2);
  --linked-accent: rgba(0, 255, 0, 0.75);
  --unlinked-accent: rgba(255, 0, 0, 0.75);
  --linked-light: rgba(0, 255, 0, 0.4);
  --unlinked-light: rgba(255, 0, 0, 0.4);
  --safe-accent: rgba(0, 150, 100, 0.6);
  --unsafe-accent: rgba(255, 0, 0, 0.6);
  --header-background: rgba(255, 255, 255, 0.2);
  --header-border: rgba(0, 0, 0, 0.25);
  --stat-font: #ece9df;
  --prepareable: #778899;
  --prepared: rgba(50, 205, 50, 0.3);
  --prepared-outline: #32cd32;
  --prepared-accent: #adff2f;
  --always-prepared: rgba(0, 0, 255, 0.15);
  --always-prepared-outline: #4169e1;
  --always-prepared-accent: #00bfff;
  --magic-accent: #ffff00;
  --faint-magic-accent: rgba(255, 255, 0, 0.6);
  --magic-outline: #afff2f;
  --attunement-required: #cd5c5c;
  --icon-attuned: rgba(0, 0, 0, 0.4);
  --xp-bar: #5ee192;
  --encumbrance-bar: #6c8aa5;
  --encumbrance-bar-outline: #cde4ff;
  --encumbrance-outline: rgba(0, 0, 0, 0.9);
  --warning-accent: rgba(255, 0, 0, 0.6);
  --icon-background: #ece9df;
  --icon-shadow: rgba(0, 0, 0, 0.4);
  --icon-outline: rgba(0, 0, 0, 0.4);
  --icon-font: rgba(0, 0, 0, 0.4);
  --exhaustion-font: rgba(0, 0, 0, 0.4);
  --icon-hover: rgba(0, 0, 0, 0.9);
  --pc-border: 0px;
  --npc-border: 0px;
  --vehicle-border: 0px;
  --note-background: rgba(0, 0, 0, 0.9);
  --exhaustion-lvl1: #ffe600;
  --exhaustion-lvl2: #ff8200;
  --exhaustion-lvl3: #ff3200;
  --ability-accent: darkslategrey;
  --context-outline: rgba(0, 0, 0, 0.4);
  --context-shadow: rgba(0, 0, 0, 0.65);
  --check-default: url(../images/check-dark-unchecked.svg);
  --check-checked: url(../images/check-dark-checked.svg);
  --checkbox-font: rgba(0, 0, 0, 0.9);
  --checkbox-outline: #969696;
  --checkbox-unchecked: #D8D7D1;
  --checkbox-checked: rgba(0, 255, 0, 0.3);
}
