#compendium .directory-footer .compendium-browser-btn {
  margin-top: 5px;
}
#compendium .directory-footer {
  display: block;
}
.compendium-browser {
  overflow-y: hidden!important;
  max-width: 1100px;
}

.compendium-browser .info {
  padding: 0.25em 0.6em;
  text-align: center;
  border: 1px solid #acacac;
  display: inline-block;
  margin: auto;
  background: rgba(0,0,0,0.3);
  border-radius: 0.3em;
  color: #cecece;
}

.compendium-browser .window-content {
  overflow-y: hidden!important;
  height: 100%;
  padding: 0.5em 0.5em 0 0.5em;
}
.compendium-browser .window-content .parent {
  height: 100%;
}
.compendium-browser .window-content .parent .content {
  overflow-y: hidden!important;
  height: calc(100% - 2em);
}
.compendium-browser .window-content .parent .content .tab {
  overflow-y: hidden!important;
  height: 100%;
}
.compendium-browser .window-content .parent .content .tab .browser {
  overflow-y: hidden!important;
  height: 100%;
}
.compendium-browser .window-content .parent .content .tab .browser ul {
  overflow-y: auto;
  height: 100%;
}
.compendium-browser .window-content .parent .content .tab .settings {
  overflow-y: auto;
  height: 100%;
}
.compendium-browser .tabs {
  max-height: 2em;
  border-bottom: solid #782e22;
}
.compendium-browser .tabContainer {
  height: calc(100% - 2em);
}
.compendium-browser .tabContainer .tab {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.compendium-browser .control-area {
  position: sticky;
  display: block;
  min-width: 250px;
  max-width: 8vw;
  width: 350px;
  height: 100%;
  padding-right: 5px;
  overflow-y: scroll;
  flex-grow: 1;
}
.compendium-browser .list-area {
  position: sticky;
  display: flex;
  min-width: 250px;
  height: 100%;
  padding-right: 5px;
  /**overflow-y: scroll;**/
  flex-grow: 2;
}
.compendium-browser .control-area button {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-top: 5px;
  padding: 2px;
}
.compendium-browser .control-area .filtercontainer {
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-top: 5px;
  padding: 2px;
}
.compendium-browser .control-area .filtercontainer h3 {
  margin: 0;
  cursor: pointer;
}
.compendium-browser .control-area .filtercontainer dl,
.compendium-browser .control-area .filtercontainer div {
  margin: 5px 0;
}
.compendium-browser .control-area .filtercontainer dt {
  display: inline-block;
  width: 40%;
  padding-left: 5px;
}
.compendium-browser .control-area .filtercontainer dd {
  display: inline-block;
  width: 58%;
  margin-left: 0;
}
.compendium-browser .control-area .filtercontainer dd select {
  width: 100%;
}
.compendium-browser .control-area .filtercontainer .multiselect {
  border: 1px solid #bbb;
  border-radius: 3px;
  vertical-align: middle;
  line-height: 32px;
  margin: 2px 0;
}
.compendium-browser .control-area .filtercontainer .multiselect label {
  padding: 5px;
}
.compendium-browser .control-area .filtercontainer .multiselect input {
  vertical-align: middle;
}
.compendium-browser .control-area .filtercontainer .small-input {
  width: calc(100% - 44px);
  height: 27px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #444;
  border-radius: 3px;
  padding: 0 3px;
  text-overflow: ellipsis;
}
.compendium-browser .control-area .filtercontainer .small-select {
  width: 40px;
}
.compendium-browser .browser {
  height: 100%;
  overflow-y: hidden!important;
}
.compendium-browser .browser .window-content {
  overflow-y: hidden!important;
}
.compendium-browser .browser .list-area ul {
  float: right;
  display: block;
  min-width: 335px;
  margin: 0;
  height: 100%;
  overflow: auto;
  padding-left: 5px;
}
.compendium-browser .browser ul .filter-tags {
  display: none;
}
.compendium-browser .browser ul li span {
  white-space: nowrap;
  overflow: hidden;
}
.compendium-browser .browser .spacer {
  display: inline-block;
  min-width: 5px;
}
.compendium-browser .browser .spacer-large {
  display: inline-block;
  min-width: 15px;
}
.compendium-browser .item-browser > li,
.compendium-browser .feat-browser > li,
.compendium-browser .spell-browser > li {
  cursor: default;
  vertical-align: middle;
  line-height: 32px;
  margin: 2px 0;
}

.compendium-browser .browser li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
 }

.compendium-browser .browser li .item-name {
  padding-left: 5px;
}
.compendium-browser .item-browser li .feat-tags,
.compendium-browser .feat-browser li .feat-tags,
.compendium-browser .spell-browser li .feat-tags,
.compendium-browser .item-browser li .item-tags,
.compendium-browser .feat-browser li .item-tags,
.compendium-browser .spell-browser li .item-tags {
  text-align: justify;
  margin-right: 3px;
  margin-left: 3px;
  text-transform: capitalize;
}
.compendium-browser .spell-browser .spell .spell-level {
  text-align: center;
  font-weight: 900;
  max-width: 18px;
  height: 32px;
}
.compendium-browser .spell-browser .spell .spell-tags {
  text-align: right;
  margin-right: 3px;
  font-weight: 900;
  max-width: 100px;
  height: 32px;
}
.compendium-browser .npc-browser .npc {
  cursor: default;
  vertical-align: middle;
  line-height: 64px;
  margin: 4px 0;
}
.compendium-browser .npc-browser .npc .npc-image {
  max-width: 64px;
  height: 64px;
}
.compendium-browser .npc-browser .npc .npc-image img {
  width: 64px;
  height: 64px;
  border: none;
  object-fit: contain;
}
.compendium-browser .npc-browser .npc .npc-line {
  line-height: 25px;
  padding: 9px 0 5px 5px;
}
.compendium-browser .npc-browser .npc .npc-name {
  font-weight: bold;
  font-size: 16px;
}
.compendium-browser .npc-browser .npc .cr {
  display: inline-block;
  width: 55px;
}
.compendium-browser .npc-browser .npc .size {
  display: inline-block;
  width: 75px;
}
.compendium-browser .npc-browser .npc .type {
  display: inline-block;
}
.compendium-browser .settings .settings-group {
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-top: 5px;
  padding: 2px;
}
.compendium-browser .settings .settings-group h3 {
  margin: 0;
  cursor: pointer;
}
.compendium-browser .settings .settings-group label {
  display: block;
}
.compendium-browser .settings .settings-group h4 {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.compendium-browser .actions {
    flex: 0 0 32px;
    box-sizing: content-box;
    flex: 0 0 32px;
    /* margin: 0 0 5px; */
    background: rgb(86 85 78 / 18%);
    border-radius: 0 0 0.5em 0.5em;
    padding: 0 0.7em;
}
.compendium-browser .actions ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}
.compendium-browser .actions li {
  box-sizing: content-box;  
}
.compendium-browser .actions li button {
  cursor: pointer;
  color: #ededed;
  background-color: #444;
  border-left: 1px dotted rgba(0, 0, 0, 0.05);
  border-radius: 0;
}

.compendium-browser .cb_entities .item {
  border-left: 0.3em solid #ccc;
  border-bottom: 1px dotted #ccc; 
  line-height: 1em;
    display: grid; 
    grid-template-columns: 0.2fr 0.8fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Image Name Tags"
      "Image ItemTags Tags";
}

.compendium-browser .cb_entities ul.tags {
  list-style: none;  
  min-width: initial;
  box-sizing: content-box;
  display: inline-block;
}
.compendium-browser .cb_entities .item-tags{
  padding-left: 0.5em;
  grid-area: ItemTags;
}

.compendium-browser .cb_entities .spell-tags,
.compendium-browser .cb_entities .misc-tags {
  grid-area: Tags;
}

.compendium-browser .cb_entities .tags li{
  font-size: 0.8em;  
  line-height: initial;
  display: inline-block;
  border: 1px solid #acacac;
  padding: 0.2em;
  border-radius: 0.2em;
  line-height: initial;
}

.compendium-browser .cb_entities .item-image {
  grid-area: Image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
} 
.compendium-browser .cb_entities .item-name {
  grid-area: Name;
  font-size: 1.2em;
  line-height: initial;
  display: inline;
}

.compendium-browser .cb_entities .item.r_common {
  border-left: 0.3em solid #fff;
}
.compendium-browser .cb_entities .item.r_uncommon {
  border-color: rgb(30,255,0);
}
.compendium-browser .cb_entities .item.r_uncommon .item-name,
.compendium-browser .cb_entities .item.r_uncommon .tags {
  background: linear-gradient(90deg, rgba(30,255,0,1) 0%, rgba(30,255,0,0) 35%);
}
.compendium-browser .cb_entities .item.r_rare {border-color: darkblue;}

.compendium-browser .cb_entities .item.r_rare .item-name,
.compendium-browser .cb_entities .item.r_rare .item-info {
  background: linear-gradient(90deg, rgba(0,112,221,1) 0%, rgba(0,112,221,0) 35%);
}
.compendium-browser .cb_entities .item.r_veryrare {border-color: #a335ee;}

.compendium-browser .cb_entities .item.r_veryrare .item-name,
.compendium-browser .cb_entities .item.r_veryrare .item-info {
  background: linear-gradient(90deg, rgba(163,53,238,1) 0%, rgba(163,53,238,0) 35%);
}

.compendium-browser .cb_entities .item.r_legendary {border-color: rgb(255,128,0);}

.compendium-browser .cb_entities .item.r_legendary .item-name,
.compendium-browser .cb_entities .item.r_legendary .item-info {
  background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(255,128,0,0) 35%);
}

.compendium-browser .cb_entities .item.r_rare .item-name{color: inherit;}
